body {
	overflow-x: hidden;

	background-color: #eff;
    background-image: url('../../files/images/bg7.jpg');
    background-size: cover;
	backdrop-filter: blur(5px);
	min-height: 100vh;
}

.courses-container {
	position: absolute;
	top: 80px;
	margin-left: 200px;
	margin-right: 20px;
	display: flex;
	flex-wrap: wrap;
}

.no-course {
	margin-top: 150px;
	font-size: 50px;
	text-align: center;
    padding: 30px;
	color: #FFF;
}

.only-for-teachers {
	padding: 5px 15px;
	text-decoration: none;
	color: #FFF;
	background-color: #777;
	border-radius: 20px;
	border: 3px solid #AAA;
}

.only-for-teachers:hover {
	background-color: #555;
}

.only-for-students {
	padding: 5px 15px;
	text-decoration: none;
	color: #FFF;
	background-color: #777;
	border-radius: 20px;
	border: 3px solid #AAA;
}

.only-for-students:hover {
	background-color: #555;
}

.linker-box {
	padding: 0;
	margin: 1vh 1vw;
	text-decoration: none;
	font-size: large;
	color: #000;	
	cursor: pointer;

	display: block;
}

.linker-box:hover {
	box-shadow: 0 0 6px 3px #FFF;
}

.linker-box img {
	width: 300px;
	height: 250px;
	display: block;
	z-index: -1;
}

.course-name-label {
	padding-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	background-color: #000;
}
