.students-container {
    position: absolute;
    color: #fff;
    top: 100px;
    width: 60vw;
    left: 25vw;
    background-color: rgba(75, 79, 79, 0.5);
    min-height: 85vh;
    padding: 5vw;
}

.no-student {
    position: absolute;
    color: #fff;
    font-size: 40px;
    padding-left: 50px;
    padding-top: 50px;
    
}

.students-bar{
    display: flex;
    width: 50vw;
    font-size: 30px;
}

.student-name {
    margin: 10px 20px;
}

.marks {
    margin-left: auto;
}

.select-all {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    width: 100px;
}

.remove-btn {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.remove-btn:hover {
    background-color: #aaa;
}

.remove-btn:disabled {
    background-color: #FFF;
    cursor: no-drop;
}