* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eff;
}

.heading {
    font-size: 40px;
    font-weight: bold;
}

.form-container {
    width: 90vw;
    margin: auto;
}

.radio-btn {
    display: none;
}

.Label {
    display: block;
    margin-top: 20px;
    font-size: 20px;
}

.input-field {
    border: 1px solid #000;
    width: 70vw;
    font-size: 20px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    margin-top: 5px;
}

.input-field:focus {
    box-shadow: 0 0 5px 3px #55aaff;
}

.course-image {
    width: 150px;
    height: 70px;
    margin: 20px 30px 20px 0;
    display: block;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.selected-img {
    border: 3px solid #00f;
    box-shadow: 0 0 15px 8px #777;
}

.message {
    color: red;
    font-weight: bold;
}

.submit {
    padding: 10px;
    background-color: #aaa;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.submit:hover {
    background-color: #777;
}
