* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eff;
}

.navbar {
	display: flex;
	height: 80px;
	border-bottom: 3px solid #aaa;
	margin-bottom: 0;
	align-items: center;
}

.line-container {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin: auto 30px auto 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}	

.show-box-shadow {
	box-shadow: 0 0 10px 10px #ddd;
}

.lines {
	background-color: #777;
	width: 20px;
	height: 3px;
	z-index: -1;
}

.l2 {
	margin: 3.5px;
}

.project-logo {
	height: 70px;
	display: block;
}	

.left-navitems {
	display: flex;
	margin-left: auto;
}

.notification-icon {
	height: 50px;
	display: block;

	margin-right: 30px;
	cursor: pointer;
	z-index: 1;
}

.profile-container {
	margin-left: auto;
	margin-right: 10px;
	z-index: 1;
}	

.profile-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	transition : all 0.5s ease-in-out;
	z-index: -1;
}

.nav-menu-container {
	top: 80px;
	position: absolute;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	transition: 1s;
	left: -200px;
	z-index: 10;
}

.nav-menu-container a, .profile-menu-container a {
	text-decoration: none;
	background-color: #cee;
	color: #000;

	font-size: 24px;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #c0e0e0;
}

.profile-menu-container a:hover, .nav-menu-container a:hover {
	background-color: #acc;
}

.profile-menu-container {
	padding-top: 14.5px;
	position: absolute;
	width: 220px;
	left: 100vw;
	margin-left: -220px;
	display: flex;
	flex-direction: column;
	visibility: hidden;
	z-index: 10;
}